@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Yeseva+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');

@font-face {
    font-family: 'Gagalin';
    src: url(Gagalin-Regular.otf);
}

/*
Cores:
Roxo forte: #3C4663
Rosa: #D99FA9
Roxo escuro: #59475D

fontes:
font título
font-family: 'Berkshire Swash', serif;

font padrão
font-family: 'Petit Formal Script', cursive;
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: whitesmoke;
}

header {
    height: 12em;
    background-color: #3C4663;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1em 0em 1em #3c466371;
}

#logo-confeitaria {
    width: 14em;
    border-radius: 50%;
}

header ol li{
    display: inline;
    text-decoration: none;
}

.items-list {
    color: whitesmoke;
    text-decoration: none;
    font-family: 'Gagalin', sans-serif;
    font-size: 2em;
    font-weight: normal;
    margin-right: 1.4em;
}

.items-list:hover {
    color: #D99FA9;
    filter: drop-shadow(1px 1px 0.5px #d99fa95b);
}

h1 {
    color: #3C4663;
    font-family: 'Berkshire Swash', serif;
    font-size: 6.6em;
    text-align: center;
    margin: 0.5em 0em;
}

#secao-gotinhas {
    width: 80em;
    height: 44.2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #D99FA9;
    border-radius: 2.2em;
    box-shadow: -4px 4px 8px #d99fa927, 4px -4px 8px #d99fa927;
    margin-left: 2em;
}

#secao-gotinhas h2 {
    width: 10em;
    font-family: 'Petit Formal Script', cursive;
    font-size: 2.2em;
    text-align: center;
    margin: 0 auto;
}

#secao-gotinhas img {
    width: 44em;
    height: 43.9em;
    border-radius: 0em 2em 2em 0em;
    box-shadow: -4px 4px 8px #d99fa962, 4px -4px 8px #d99fa962;
}

#secao-bolo-kinder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80em;
    height: 44.2em;
    border: 3px solid #D99FA9;
    border-radius: 2.2em;
    margin: 4em auto;
    box-shadow: -4px 4px 8px #d99fa927, 4px -4px 8px #d99fa927;
}

#secao-bolo-kinder h2 {
    width: 10em;
    font-family: 'Petit Formal Script', cursive;
    font-size: 2.2em;
    text-align: center;
    margin: 0 auto;
}

#secao-bolo-kinder img {
    width: 44em;
    height: 43.9em;
    border-radius: 0em 2em 2em 0em;
    box-shadow: -4px 4px 8px #d99fa962, 4px -4px 8px #d99fa962;
}

#secao-gotas-gourmet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80em;
    height: 44.2em;
    border: 3px solid #D99FA9;
    border-radius: 2.2em;
    box-shadow: -4px 4px 8px #d99fa927, 4px -4px 8px #d99fa927;
    margin-right: 2em;
}

#secao-gotas-gourmet h2 {
    width: 10em;
    font-family: 'Petit Formal Script', cursive;
    font-size: 2.2em;
    text-align: center;
    margin: 0 auto;
}

#secao-gotas-gourmet img {
    width: 44em;
    height: 43.8em;
    border-radius: 0em 2em 2em 0em;
    box-shadow: -4px 4px 8px #d99fa962, 4px -4px 8px #d99fa962;
}

section {
    background-color: #D99FA9;
    margin: 4em 0em;
    padding: 1.8em 0em;
}

section h2 {
    width: 40em;
    margin: 1.2em auto;
    text-align: center;
    color: #3C4663;
    font-size: 2em;
}

#secao-instagram {
    display: flex;
    justify-content: space-evenly;
}

.img-instagram {
    width: 22em;
    height: 22em;
    box-shadow: -2px 2px 6px rgba(0, 0, 0, 0.233), 2px -2px 6px rgba(0, 0, 0, 0.233);
    margin-bottom: 2em;
}

button {
    margin: 0 auto;
    background-color: #D99FA9;
    padding: 0.8em;
    border: 3px solid #3C4663;
    border-radius: 2em;
    color: #3C4663;
    font-size: 1.1em;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}

button a {
    text-decoration: none;
    color: #3C4663;
}

#logo-instagram {
    width: 3.1em;
    margin-right: 1em;
}

footer {
    background-color: #3C4663;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;
}

footer ol li {
    list-style: none;
}

.menu-footer {
    color: #D99FA9;
    text-decoration: none;
    font-family: 'Gagalin', sans-serif;
    font-size: 1.4em;
    text-shadow: 1px 1px black;
}

.menu-footer:hover {
    color: whitesmoke;
}

.endereço-e-direitos {
    color: #D99FA9;
    margin-top: 14em;
    font-size: 1.2em;
    
}

#logo-footer {
    border-radius: 50%;
    width: 16em;
}

.list-footer {
    list-style: none;
    display: inline;
    margin-left: 1.6em;
}

.logo-redessociais {
    width: 2.2em;
}