
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&family=Yeseva+One&display=swap');

@font-face {
    font-family: 'gagalin';
    src: url(Gagalin-Regular.otf);
}

/*
Cores:
Roxo forte: #3C4663
Rosa: #D99FA9
Roxo escuro: #59475D

fontes:


font padrão
font-family: 'Petit Formal Script', cursive;
*/